doctype html
html
  head
    title= langz
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(src='/js/bootstrap.min.js')

  body
    if ( m_user )
      .container
        include nav
        if (alert)
          .alert.alert-danger
            p= alert
        block content

    else
      .container
        if (alert)
          .alert.alert-danger
            p= alert

        h1 Log in

        div
          p You are currently not logged in. Please login. 
          p Make it up. But remember!

        br

        form(name="input", action="/login", method="post")
          div
            label Email:
            input(type="text", name="email")

          div
            label Password:
            input(type="text", name="password")

          div
            input(type="submit", value="login", name="submit")
