extends ../layout

block content
  table.table
    tbody
    each v_story in v_stories
      tr
        td
          #{v_story.title}
        td
          a(href="/stories/view/#{v_story.id}") Full text
        td
          p= v_story.content.substring(0, 80)
        td
          p Sentences
          a(href="/stories/#{v_story.id}/edit/sentences") Edit
          | &nbsp;
          a(href="/stories/#{v_story.id}/view/sentences") View
        td
          p Chapters
          a(href="/stories/#{v_story.id}/edit/chapters") Edit
          | &nbsp;
          a(href="/stories/#{v_story.id}/view/chapters") View