extends ../layout

block content
  p Add New Story
  
  br

  form(name="input", action="/stories/add", method="post")
    div
      input.form-control(type="text", placeholder="Title", name="title") 

    div
      textarea.form-control(name="content", cols=80, rows=30, placeholder="Full Text")

    div
      input(type="submit", value="Submit")



