extends ../../layout

block content
  .row
    .col-xs-12
      form(name="input", action="/stories/sentence/add", method="post")
        div
          input.form-control(type="text", placeholder="Sentence", name="sentence")
        div
          input.form-control(type="text", placeholder="Link to audio file", name="audiolink")
        div
          input(type="hidden", name="story_id", value="#{v_story.id}")
          input.btn.btn-default(type="submit", value="Submit")
  .row
    p &nbsp;
  .row
    each m_s in v_story.sentences.reverse()
      .col-xs-9
          a(href="#" onClick="window.open('#{m_s.link}','_outside','left=800,top=400,width=400,height=50,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes')") #{m_s.content}
          br
          | &nbsp;
      .col-xs-1
        a(href="/stories/#{v_story.id}/sentences/remove/#{m_s.id}") delete
      .col-xs-1
        - m_uri = encodeURI(m_s.content)
        a(href="https://translate.google.com/#fr/#en/#{m_uri}", target="gt") translate

