extends ../../layout

block content
    each m_s in v_story.sentences
        .row
            .col-xs-10
                a(href="#" onClick="window.open('#{m_s.link}','_outside','left=800,top=400,width=400,height=50,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes')") #{m_s.content}
                br
                | &nbsp;
            .col-xs-2
                - m_uri = encodeURI(m_s.content)
                a(href="https://translate.google.com/#fr/#en/#{m_uri}", target="gt") translate



